body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
}

header {
  background: #2563eb;
  color: white;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}